.intro-container {
  padding-bottom: 4rem;

  .update {
    display: flex;
    justify-content: right;
    font-size: 14px;
    color: #a2a2a2;
    margin-top: 2em;
  }

  .title {
    font-size: 2.4em;
    margin: 55px 0 35px 0;
    font-weight: bold;

    .position {
      display: block;
      padding-top: 1rem;
      font-size: 2rem;
    }
  }

  .description {
    height: 18em;
    // background-color: lightblue;
    color: #888888;

    .hello {
      font-size: 1.2rem;
      line-height: 1.9;
      color: #000000;
      font-weight: 500;
    }

    ::before {
      position: absolute;
      left: 0;
      display: inline-block;
      content: '•';
      color: #3a7bd5;
    }

    .introduce {
      padding: 0.2rem 0 0.2rem 1rem;
      position: relative;
      font-size: 1.1rem;
      line-height: 1.9;

      strong {
        font-weight: 700;
        color: #000000;
      }
    }
  }

  .contact {
    width: 100%;
    margin-top: 3em;

    tr {
      border: 1px solid #a2a2a254;
      border-right: none;
      border-left: none;
      height: 3em;
    }

    .type {
      display: flex;
      font-size: 1rem;
      font-weight: bold;
      height: inherit;
      justify-content: end;
      align-items: center;
      padding-right: 2em;
    }
    .info {
      a {
        text-decoration-line: none;
        font-weight: bold;
        color: #0687f0;
      }
    }
  }
}
